@import compass

+global-reset

body
  background: #000
  font:
    family: arial, sans-serif
  
  #container
    width: 980px
    margin: 0 auto
    padding: 10px 0
    +clearfix
    
  h1, h2, h3, h4, h5, h6
    font:
      family: 'Artifika', arial, serif
    margin:
      bottom: 10px
      
  h1
    font:
      size: 40px
      
  h2
    font:
      size: 30px
      
  h3
    font:
      size: 25px
    
  h4
    font:
      size: 20px
      
  h5
    font:
      size: 15px
      
  h6
    font:
      size: 12px
      
  p
    color: #ccc
    margin:
      bottom: 10px
      
  a
    text:
      decoration: none

@import partials/page
@import partials/menu
@import partials/header