-# CSS: implied media="all"
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Artifika'

= stylesheet_link_tag 'style', :media => 'all'
= stylesheet_link_tag 'screen', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets